{% extends "base.html" %}

{% block content %}
  <table class="table table-hover table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">User</th>
      <th scope="col">IP</th>
      <th scope="col">Create At</th>
    </tr>
    </thead>
    <tbody>
    {% for server in server_list %}
    <tr>
      <th scope="row">{{ server.id }}</th>
      <td>
        {% if server.image %}
        <img src="{{ server.image.url }}" width="45" class="rounded">
        {% endif %}
      </td>
      <td>{{ server.name }} <span class="badge badge-pill badge-info">{{ server.code }}</span></td>
      <td>{{ server.user }}</td>
      <td>{{ server.ip }}</td>
      <td>{{ server.datetime_create }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}